<div class="col-xl-9 col-md-6 mb-4 pl-0">
    <div class='<%= "card border-left-#{color} shadow h-100 py-2"%>'>
        <div class="card-body">
            <div class="row ">
                <div class="col mr-2">
                    <div class='<%= "text-xs font-weight-bold text-#{color} text-uppercase mb-1"%>'> <%= title %> </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        Sergio González</div>
                </div>
                <div class="col-auto">
                </div>
            </div>
        </div>
    </div>
</div>