<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-box">
                <i class="fas fa-times"></i>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
            <h4>Ooops!</h4>
            <p> <%= msg %></p>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>